body {
    background: #AAA2E2;
    font-family: Arial, Verdana, Helvetica;
}

a,p {
    text-align: center;
    font-size:1vw;
    font-weight: bold;
}

h1{
  text-align: center;
  font-size: 3vw;
}

h2, h4 { 
  text-align: center;
  font-size: 2vw;
}

img {
  max-width: 100%;
  height:auto;
}

/* Formatting for social links*/
.socials {
    text-align:center;
    font-size:2vw;

}

/* Formatting for projects portion */
.projects {
    text-align:center;
    outline-style: dashed;
    font-size:2vw;
}

.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  
  h1 {
    font-size: 10vw;
  }

  h2, h4 {
    font-size: 5vw;
  }

  p {
    font-size: 3vw
  }

  a,h3 {
    font-size:4vw;
  }
}